/* Barra menu tiempo */
.barraMenu {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 1280px;
    height: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #0000001A;
    opacity: 1;
    z-index: 5;
}
.titulo {
    /* background: red; */
    position: absolute;
    display: inline-grid;
    /* align-items: center; */
    text-align: center;
    width:560px;
    height:70px;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    font: Bold 26px/40px Tw Cen MT;
    color: black;
}
.reloj {
    position: absolute;
    top: 27px;
    left: 580px;
    width: 50px;
    height: 50px;
    z-index: 5;
}

.textoTiempo {
    position: absolute;
    top: 27px;
    left: 650px;
    width: 40px;
    height: 20px;
    color: #31428F;
    font: normal 20px Tw Cen MT;
    background: transparent;
    z-index: 5;
}
.cronometro {
    position: absolute;
    top: 50px;
    left: 650px;
    width: 40px;
    height: 25px;
    color: #31428F;
    font: Bold 24px Tw Cen MT;
    background: transparent;
    z-index: 5;
}

/* Zona central */
.zonaCentral {
    position: absolute;
    top: 180px;
    left: 0px;
    width: 1280px;
    height: 620px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 2;
}
.capaCentral {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 620px;
    background: #89BF55 0% 0% no-repeat padding-box;
    opacity: 0.7;
    z-index: 5;
}